    body{
        opacity:0.9;
        width:100%;
        text-align:center;
        color:green;
        text-shadow: 5px 5px #d6d6d6;
    }
    
    input {
        font-size: 3em;
        color: black;
    }
    
    #carouselExampleIndicators {
         margin: 0 auto;   
         width: 700px;
    }
