    body{
        width:100%;
        text-align:center;
        color:white;
        font-family:Georgia;
    }
    
    input {
        font-size: 2em;
        color: black;
        margin:10px;
    }
    
    #carouselExampleIndicators {
        margin: 0 auto;   
        width: 700px;
        background:rgba(114, 114, 114,0.8);
        padding-top:20px;
        padding-bottom:20px;
    }
    h2{
        background:rgba(114, 114, 114,0.8);
        width: 700px;
        margin-left: auto;
        margin-right: auto;
        padding-top:20px;
        padding-bottom:20px;
        font-size:1.5em;

    }
    form{
        background:rgba(90, 90, 90,0.8);
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        padding-top:20px;
        padding-bottom:20px;
    }