
body{
    background-color:#ECECEC;
    color:#000000;
}

h1{
    font-size:2.5em;
    color:#001100;
    font-family: Times;
    margin-bottom:0px;
    text-transform:uppercase;
}

h2{
    font-size:1.5em;
    color:#001100;
    font-family: Times;
    padding-bottom:4px;
}

h3{
    font-size:.8em;
    color:#000000;
    font-family: Times;
}

#a1:link{
    font-size:10px;
}

header,main, nav, footer{
    text-align:center;
}

img {
    border-radius: 4px;
    padding: 10px;
    margin:20px;
}
img:hover{
    border:2px solid #000000;
    opacity:.50;
}

hr{
    width:55%;
}

#hrFooter{
    width:30%;
}

nav a{
    padding:5px;
    font-size:2.1em;
    text-decoration:none;
    color:black;
}
nav a:hover{
    color:#90CCF4;
    text-decoration:none;
    background-color:grey;
}
.active{
    color: #90CCF4;
    background-color:grey;
}

#homePageText{
    clear:left;
    font-family: Helvetica;
    /*text-align:center;*/
    font-size:1.2em;
    color: #787878;
    background-color:white;
    width:70%;
    border: 1px solid #ddd;
    margin-left:auto;
    margin-right:auto;
    
}
footer{
    clear:left;
    font-size:.4;
    color:#85929E;
}

table{
    margin:0px auto;
}

td{
    padding-right: 10px;
    font-size: 1.3em;
}

td strong{
    color:#FDD835;
}

#table-header{
    background-color: #283593;
}

.table-row{
    background-color:#0288D1;
}

ul{
    text-align: left;
    padding-left:200px;
}

.hobby{
    color:#26C6DA;
}

#content{
    text-align:center;
}
